# Important: The patterns are relative to the location of the vscodeignore file.
# To help understand and edit, patterns should match the whole path whenever possible.

# Development tools, intermediate build results, and temporary files
.vscode-test/
build/**
out/
test/**
tools/
**/*.map

# Source files
node_modules/**
src/
**/*.ts
!node_modules/katex/dist/fonts/*.woff2
!node_modules/katex/dist/katex.min.css
!node_modules/markdown-it-github-alerts/styles/*.css

# Configuration files
.github/
.vscode/
.gitignore
**/tsconfig*.json
package-json.lock
webpack.config.js

# The welcome flag file
welcome/WELCOMED

# VS Code maps local image paths to GitHub paths
images
!images/Markdown-mark.png
