# Important: The patterns are relative to the location of the vscodeignore file.

# Development tools, intermediate build results, and temporary files
.vscode-test/
out/
tools/
**/*.map

# Source files
src/
**/*.ts

# Configuration files
.github/
.vscode/
VERSION
.gitignore
tsconfig.json
package-json.lock
webpack.config.js
