body {
    font-family: "Microsoft Yahei", "Open Sans";
    font-size: 16px;
}

a {
    text-decoration: none;
}

code {
    border: none;
    padding: 0.2em 0.4em;
    margin: 0;
}

.hljs code {
    padding: 0;
}

pre:not(.hljs),
pre.hljs code > div {
    padding: 1em;
    border-radius: 3px;
    overflow: auto;
    background: #f7f7f7;
}

kbd {
    display: inline-block;
    padding: 0.2em 0.3em;
    font-size: 0.9em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1em;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

img {
    max-width: 100%;
}
